body {
  background-color: rgb(0, 0, 0);
}
.navbar {
  background-color: #2d3e50 !important;
  border-radius: 0 !important;
  min-height: 20vh !important;
  margin-top: 20px;
}
.navbar-left ul li a {
  color: gold !important;
  margin-right: 20px;
}
.navbar-left ul li a:hover {
  color: #eb5255 !important;
}
.navbar-collapse {
  margin-top: 20px;
  margin-left: 20vw !important;
}
.change-text {
  color: gold;
}
.nav-right {
  margin-top: 20px !important;
}
.btn-primary {
  background-color: #2d3e50 !important;
  color: gold !important;
}
#loader {
  background-color: #2d3e50;
  width: 67.9vw !important;
  height: 56vh !important;
  position: absolute;
  z-index: 1;
  background-image: url("../new/loader.gif");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  top: 0;
  right: 17px;
}
@media screen and (max-width: 600px) {
  #loader {
    width: 92vw !important;
    height: 78vh !important;
    top: 0;
  }
}
.payment-form {
  margin-top: 50px;
}
.wallet {
  margin-bottom: 20px;
}
.wallet label {
  font-size: 18px;
  color: #2d3e50;
}
.wallet-info {
  font-size: 25px;
  background-color: #2d3e50;
  padding: 10px;
  color: #fff;
}
.wallet-info::after {
  content: "\f0c5";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  right: 0;
  margin-right: 30px;
  text-decoration: none;
  align-self: flex-end;
}
.timer-container {
  margin-bottom: 20px;
  background-color: #2d3e50; /* #2d3e50 */
  padding: 20px;
}
.timer-message {
  color: #fff;
}
#timer {
  color: rgba(255, 255, 255, 0.7);
}
