{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Your Plug’s Plug"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'new/updated.css' %}"
    />

    <title>{% block title %} Boy XChange - Home {% endblock %}</title>
    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content="Boyexchange — Crypto Currency Exchange We buy & sell all coins, Gift cards Trusted, Fast, Reliable."
    />
    <meta
      name="description"
      content="Your Plug’s Plug"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://boyexchange.com/" />
    <meta
      property="og:title"
      content="Boyexchange — Crypto Currency Exchange We buy & sell all coins, Gift cards Trusted, Fast, Reliable."
    />
    <meta
      property="og:description"
      content="Your Plug’s Plug"
    />
    <meta property="og:image" content="{% static 'images/logo.png' %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://boyexchange.com/" />
    <meta
      property="twitter:title"
      content="Boyexchange — Crypto Currency Exchange We buy & sell all coins, Gift cards Trusted, Fast, Reliable."
    />
    <meta
      property="twitter:description"
      content="Your Plug’s Plug"
    />
    <meta property="twitter:image" content="{% static 'images/logo.png' %}" />

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'new/bootstrap.css' %}" />
    <script src="https://use.fontawesome.com/fd30e1cbd3.js"></script>

    <link rel="stylesheet" href="{% static 'new/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'new/slidr.css' %}" />
    <link rel="stylesheet" href="{% static 'new/plan.css' %}" />
    <link rel="stylesheet" href="{% static 'new/main.css' %}" />
    <link id="preset" rel="stylesheet" href="{% static 'new/preset2.css' %}" />
    <link rel="stylesheet" href="{% static 'new/responsive.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.png' %}"
      type="image/png"
    />
    <linkrel ="icon" href="{% static 'images/logo.png' %}" type="image/png" />
    <!-- Styles -->

    <!-- font -->
    <link href="{% static 'new/css.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'new/css_002.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body
    data-new-gr-c-s-check-loaded="14.1026.0"
    data-gr-ext-installed=""
    cz-shortcut-listen="true"
  >
    <!-- header -->
    <header id="header" class="clearfix">
      <!-- navbar -->
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- navbar-header -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
              <img
                width="100"
                class="img-responsive"
                src="{% static 'new/logo.png' %}"
                alt="Logo"
              />
            </a>
          </div>
          <!-- /navbar-header -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="navbar-left">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>
                  <a href="{% url 'news' %}">News</a>
                </li>
                <li>
                  <a href="{% url 'reviews' %}">Reviews</a>
                </li>
                <li>
                  <a href="#">Affiliate</a>
                </li>
              </ul>
            </div>
            <!-- nav-right -->
            <div class="nav-right">
              <!-- language-dropdown -->
              <div class="dropdown language-dropdown">
                <i class="fa fa-globe"></i>
                <a data-toggle="dropdown" href="#">
                  <span class="change-text">English</span>
                  <i class="fa fa-angle-down"></i
                ></a>
                <ul class="dropdown-menu language-change">
                  <li>
                    <a href="#">English</a>
                  </li>
                </ul>
              </div>
              <!-- language-dropdown -->
            </div>
            <!-- nav-right -->
          </div>
        </div>
        <!-- container -->
      </nav>
      <!-- navbar -->
    </header>
    <!-- header -->

    <!-- main -->
    <section id="main" class="clearfix home-default">
      <div class="container">
        <!-- main-content -->
        <div class="main-content">
          <!-- row -->
          <div class="row">
            <!-- product-list -->
            <div class="col-md-9">
              {% block content %} {% endblock content %}
              <!-- featureds -->
              <div class="section featureds">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="section-title featured-top">
                      <h4>Awesome <strong>Testimonials</strong></h4>
                    </div>
                  </div>
                </div>
                <!-- featured-slider -->
                <div class="featured-slider">
                  <div
                    id="featured-slider"
                    class="owl-carousel owl-theme owl-loaded"
                  >
                    <div class="owl-stage-outer">
                      <div
                        class="owl-stage"
                        style="
                          transform: translate3d(0px, 0px, 0px);
                          transition: all 0s ease 0s;
                          width: 535.334px;
                        "
                      >
                        <div
                          class="owl-item active"
                          style="width: 267.667px; margin-right: 0px"
                        >
                          <div class="alert alert-info">
                            <p>There is no testimonials yet</p>
                          </div>
                        </div>
                        <div
                          class="owl-item active"
                          style="width: 267.667px; margin-right: 0px"
                        >
                          <div class="owl-stage-outer">
                            <div class="owl-stage"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="owl-controls">
                      <div class="owl-nav"></div>
                    </div>
                  </div>
                  <!-- featured-slider --><br />
                </div>
                <!-- #featured-slider -->
              </div>
              <!-- featureds -->
              <!-- trending-ads -->
              <div class="section trending-ads">
                <div class="section-title tab-manu">
                  <h4>10 Recent Transactions</h4>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Send</th>
                            <th>Receive</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tran in transactions %}
                          <tr>
                            <td>
                              <img
                                src="{{ tran.pair.currency.get_logo }}"
                                width="20px"
                                height="20"
                              />
                              {{ tran.pair.currency.name }} ({{ tran.pair.currency.short_name }})
                            </td>
                            <td>
                              <img
                                src="{{ tran.pair.pair.get_logo }}"
                                width="20px"
                                height="20"
                              />
                              {{ tran.pair.pair.name }} ({{ tran.pair.pair.short_name }})
                            </td>
                            <td>{{ tran.coin_amount }}</td>
                            <td>{{ tran.transaction_hash|truncatechars:10 }}</td>
                            
                            {% if tran.has_paid %}
                            <td>
                              <span class="label label-success">
                                <i class="fa fa-check"></i> Success</span>
                              </td>
                              {% else %}
                              <td>
                                <span class="label label-danger">
                                  <i class="fa fa-times"></i> Pending</span>
                                </td>
                              {% endif %}
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="5">No trasactions</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--trending-ads -->
              <br /><br />
            </div>
            <!-- product-list -->
            <!-- advertisement -->
            <div class="col-md-3">
              <div class="section">
                <div class="section-title tab-manu">
                  <h4>Track exchange</h4>
                </div>
                <br />
                <form>
                  {% csrf_token %}
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="exchange_id"
                      placeholder="Type your exchange id"
                      required=""
                    />
                  </div>
                  <button
                    disabled
                    class="btn btn-primary btn-block"
                    name="track"
                  >
                    Track
                  </button>
                </form>
              </div>
              <div class="section">
                <div class="section-title tab-manu">
                  <h4>Our Reserve</h4>
                </div>
                <br />
                <div class="row">
                  {% for coin in coins %}
                  <div class="col-md-12" style="margin-bottom: 10px">
                    <img
                      src="{{ coin.get_logo }}"
                      class="img-circle img-bordered pull-left"
                      width="42px"
                      height="42px"
                    />
                    <span class="pull-left" style="margin-left: 5px">
                      <span style="font-size: 15px; font-weight: bold"
                        >{{ coin.name }} - {{ coin.short_name }}</span
                      ><br />
                      <span class="text text-muted">{{ coin.reserve }}</span>
                    </span>
                  </div>
                  <br /><br />
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- advertisement -->
          </div>
          <!-- row -->
        </div>
        <!-- main-content -->
      </div>
      <!-- container -->
    </section>
    <!-- footer -->
    <footer id="footer" class="clearfix">
      <!-- footer-top -->
      <section class="footer-top clearfix">
        <div class="container">
          <div class="row">
            <!-- footer-widget -->
            <div class="col-sm-3">
              <div class="footer-widget">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="#">News</a></li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Reviews</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- footer-widget -->
            <!-- footer-widget -->
            <div class="col-sm-3">
              <div class="footer-widget">
                <h3>Support</h3>
                <ul>
                  <li>
                    <a href="#">Terms of services</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <!-- footer-widget -->
            <div class="col-sm-3">
              <div class="footer-widget social-widget">
                <h3>Follow us on</h3>
                <ul>
                  <li>
                    <a target="_blank" href="https://www.instagram.com/boy_exchange/"
                      ><i class="fab fa fa-instagram"></i>Instagram</a
                    >
                  </li>
                  <li>
                    <a target="_blank" href="https://wa.me/+2348063086302/"
                      ><i class="fab fa fa-whatsapp"></i>Whatsapp</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- footer-widget -->
            <div class="col-sm-3">
              <div class="footer-widget news-letter">
                <h3>Language</h3>
                <ul>
                  <li><a href="#">English</a></li>
                </ul>
              </div>
            </div>
            <!-- footer-widget -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </section>
      <!-- footer-top -->
      <div class="footer-bottom clearfix text-center">
        <div class="container">
          <p>Boyexchange © {% now "Y" %}</p>
        </div>
      </div>
      <!-- footer-bottom --><br />
    </footer>
    <!-- footer -->

    <script src="{% static 'new/jquery_002.js' %}"></script>
    <script src="{% static 'new/bootstrap.js' %}"></script>
    {% block script %} {% endblock script %}
  </body>
</html>
