{% extends "nbase.html" %} {% load static %} {% block content %}
<!-- categorys -->
<div class="section card">
    <div class="row" id="bit_exchange_box">
        <div id="loader" hidden></div>
        <div id="bit_exchange_results"></div>
        <form
            id="exchange_form"
            method="POST"
            action="{% url 'exchange_detail' %}"
        >
            {% csrf_token %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div
                            hidden
                            style="margin-top: 50px"
                            id="coin-to-send-icon-div"
                        >
                            <img
                                src=""
                                id="coin-to-send-icon-img"
                                class="img-circle img-bordered"
                                width="70px"
                                height="70px"
                            />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>
                            <i class="fa fa-arrow-down"></i>
                            I am Sending
                        </h3>
                        <div class="form-group">
                            <select
                                name="coin_to_send"
                                class="
                                    form-control form_style_1
                                    input-lg
                                    coin-to-send
                                "
                            >
                                <option value="">Select Currency</option>
                                {% for c in object_list %}
                                <option
                                    value="{{ c.pk }}"
                                    logo="{{ c.get_logo }}"
                                    reserve="{{ c.reserve }}"
                                >
                                    {{ c.name }} <b></b>
                                    ({{ c.short_name }})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input
                                id="amount_to_send"
                                name="amount_to_send"
                                type="number"
                                class="form-control form_style_1 input-lg"
                            />
                        </div>
                        <div
                            class="text text-muted pull-right"
                            style="padding-bottom: 10px; font-weight: bold"
                        >
                            <span id="exchange_rate"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        <h3>
                            <i class="fa fa-arrow-up"></i>
                            To Receive
                        </h3>
                        <div class="form-group">
                            <select
                                name="coin_to_receive"
                                class="form-control form_style_1 input-lg coin-to-receive"
                                id="receive-field"
                            >
                                <option selected>Select Currency</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control form_style_1 input-lg"
                                id="amount_to_receive"
                                name="amount_to_receive"
                                readonly
                                required
                                value=""
                            />
                        </div>
                        <div
                            class="text text-muted"
                            style="padding-bottom: 10px; font-weight: bold"
                        >
                            Reserve:
                            <span id="coin-reserve">0</span>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div
                            hidden
                            style="margin-top: 50px"
                            id="coin-to-receive-icon-div"
                        >
                            <img
                                src=""
                                id="coin-to-receive-icon-img"
                                class="img-circle img-bordered"
                                width="72px"
                                height="72px"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <button type="submit" class="btn btn-primary btn-sm">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                            class="fa fa-refresh"
                        ></i>
                        Exchange&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- category-ad -->
<!-- main -->
{% endblock content %} {% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        let currencyIDToSend = "";
        let currencyIDToReceive = "";
        let rate = 0;

        $(".coin-to-send").change(function () {
            const logo = $("option:selected", this).attr("logo");
            const reserve = $("option:selected", this).attr("reserve");
            const id = $(this).val();
            currencyIDToSend = id;
            $("#coin-to-send-icon-img").attr("src", logo);
            $("#coin-to-send-icon-div").removeAttr("hidden");
            $("#coin-to-receive-icon-div").attr("hidden", true);

            $.ajax({
                url: "{% url 'get_pairs' %}",
                data: { id },
                beforeSend: function () {
                    $("#loader").removeAttr("hidden");
                },
                complete: function () {
                    $("#loader").attr("hidden", true);
                },
                success: function (data) {
                    $("#receive-field").html(
                        '<option selected="selected">Select Currency</option>'
                    );
                    data.currencies.map((item) =>
                        $("#receive-field").append(
                            $("<option>", {
                                value: item.id,
                                text: item.name,
                                logo: item.logo,
                                reserve: item.reserve,
                            })
                        )
                    );
                },
            });
        });

        $(".coin-to-receive").change(function () {
            const logo = $("option:selected", this).attr("logo");
            const reserve = $("option:selected", this).attr("reserve");
            const id = $(this).val();
            currencyIDToReceive = id;

            $("#coin-to-receive-icon-img").attr("src", logo);
            $("#coin-to-receive-icon-div").removeAttr("hidden");

            $("#coin-reserve").text(reserve);
            $("#amount_to_receive").attr("max", reserve);

            $.ajax({
                url: "{% url 'get_pair_rate' %}",
                data: { currencyIDToSend, currencyIDToReceive },
                beforeSend: function () {
                    $("#loader").removeAttr("hidden");
                },
                complete: function () {
                    $("#loader").attr("hidden", true);
                },
                success: function (data) {
                    rate = data.rate;
                    $("#exchange_rate").text(data.message);
                },
            });
        });

        $("#amount_to_send").on("keyup change", function () {
            const amount = $(this).val();
            $("#amount_to_receive").val(amount * rate);
        });
    });
</script>
{% endblock script %}
