{% extends 'base.html' %} {% block content %}
<div class="timer-container">
    <h1 id="timer"></h1>
    <p class="timer-message">
        Payment will be cancelled when count down gets to 0s
    </p>
</div>
<div class="section">
    <div class="row" id="bit_exchange_box">
        <div id="bit_exchange_results"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>
                    <i class="fa fa-money"></i> Make Payment (DO NOT REFRESH THE
                    PAGE)
                </h3>
                <h6>
                    In order to receive your {{
                    transaction.pair.currency.short_name }}, kindly make a
                    transfer of {{ transaction.coin_amount }} to the following
                    {% if transaction.pair.currency.short_name == "NGN" %} bank
                    account {% else %} wallet address {% endif %}
                </h6>

                {% csrf_token %} {% if transaction.pair.currency.short_name ==
                "NGN" %}
                <div class="wallet">
                    <label
                        >Include the following transaction hash in your transfer
                        description</label
                    >
                    <p class="wallet-info">{{ transaction_hash }}</p>
                </div>
                <div class="wallet">
                    <label>Account Number</label>
                    <p class="wallet-info">{{ config.account_number }}</p>
                </div>
                <div class="wallet">
                    <label>Account Name</label>
                    <p class="wallet-info">{{ config.account_name }}</p>
                </div>
                <div class="wallet">
                    <label>Bank</label>
                    <p class="wallet-info">{{ config.bank }}</p>
                </div>
                <div class="wallet">
                    <label>Account Type</label>
                    <p class="wallet-info">{{ config.account_type }}</p>
                </div>
                {% elif transaction.pair.currency.short_name == 'ETH' %}
                <div class="wallet">
                    <label>Our ETH Wallet Address</label>
                    <p class="wallet-info">{{ config.eth_wallet_address }}</p>
                </div>
                {% elif transaction.pair.currency.short_name == 'BTC' %}
                <div class="wallet">
                    <label>Our BTC Wallet Address</label>
                    <p class="wallet-info">{{ config.btc_wallet_address }}</p>
                </div>
                {% elif transaction.pair.currency.short_name == 'USDT' %}
                <div class="wallet">
                    <label>Our BTC Wallet Address</label>
                    <p class="wallet-info">{{ config.usd_wallet_address }}</p>
                </div>
                {% endif %}

                <div
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <button
                        type="button"
                        class="btn btn-primary btn-lg"
                        id="transfer-done"
                    >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                            class="fa fa-refresh"
                        ></i>
                        I'M DONE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endblock content %} {% block script %}

<script>
    $(document).ready(function () {
        const transaction = "{{ transaction.transaction_hash }}";
        const token = $('input[name="csrfmiddlewaretoken"]').val();

        $("#transfer-done").click(function () {
            alert("dd");
            $.ajax({
                url: "{% url 'mark_paid' %}",
                type: "POST",
                data: {
                    transaction,
                    csrfmiddlewaretoken: token,
                },
                beforeSend: function () {
                    $("#transfer-done").text("Processing Transaction...");
                },
                complete: function () {
                    $("#transfer-done").text("Redirecting...");
                },
                success: function () {
                    window.location.replace("{% url 'success' %}");
                },
            });
        });

        // Set the date we're counting down to
        // Get today's date and time
        var countDownDate = new Date();
        countDownDate.setMinutes(countDownDate.getMinutes() + 1); // timestamp
        countDownDate = new Date(countDownDate);

        // Update the count down every 1 second
        var x = setInterval(function () {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor(
                (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutes = Math.floor(
                (distance % (1000 * 60 * 60)) / (1000 * 60)
            );
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("timer").innerHTML =
                minutes + " min " + seconds + " sec";

            // when count down is finished
            if (distance < 0) {
                clearInterval(x);
                $.ajax({
                    type: "POST",
                    url: "/delete_transaction/",
                    data: {
                        transaction,
                        csrfmiddlewaretoken: token,
                    },
                    beforeSend: function () {
                        $("#timer").html("EXPIRED: Redirecting");
                    },
                    error: function (err) {
                        console.log(err);
                    },
                    success: function () {
                        window.location.href = "/";
                    },
                });
            }
        }, 1000);
    });
</script>

{% endblock %}
