{% extends "base.html" %} {% load static %} {% block title %} Reviews {% endblock %} {% block content %} 
{% for item in reviews %}
<div class="section">
    <div class="row" id="bit_exchange_box">
        <div id="bit_exchange_results"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3><i class="fa fa-user"></i> {{ item.name }}</h3>
                <p>
                    {{ item.review }}
                </p>
                <br />
                <br />
                <p>Published: {{ item.timestamp }}</p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="section">
    <div class="row" id="bit_exchange_box">
        <div id="bit_exchange_results"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3><i class="fa fa-user"></i> No items</h3>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
