{% extends "base.html" %}
{% load static %}
{% block title %} Reviews {% endblock %}
{% block content %}
<div class="content_wrap">
   <div class="content">
      <div class="many_news_wrap">
         <div class="many_news">
             {% for review in reviews %}
                <div class="one_news" itemtype="https://schema.org/NewsArticle">
                <meta itemprop="author" content="BoyExchange.com">
                <meta itemprop="headline" content="{{ review.title }}">
                <meta itemprop="dateModified" content="{{ review.timestamp|date:"DATETIME_FORMAT" }}">
                <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                        <meta itemprop="image" content="{% static 'images/logo.png' %}">
                        <a href="{% static 'images/logo.png' %}" style="display: none;" itemprop="url"></a>
                        <span itemprop="width">100</span>
                        <span itemprop="height">60</span>
                    </div>
                    <meta itemprop="name" content="BoyExchange.com">
                    <meta itemprop="address" content="">
                    <meta itemprop="telephone" content="">
                </div>
                <h2 class="one_news_title">
                    <a href="#" rel="bookmark" title="{{ review.title }}"><span itemprop="name">{{ review.title }}</span></a>
                </h2>
                <div class="one_news_date" itemprop="datePublished" content="{{ review.timestamp|date:"DATETIME_FORMAT" }}">
                    {{ review.timestamp|date:"DATETIME_FORMAT" }}			
                </div>
                <div class="clear"></div>
                <div class="one_news_excerpt">
                    <div class="text" itemprop="articleBody">
                        <p>{{ review.title }}</p>
                        <p>
                            {{ review.review }}
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="metabox_div">
                    <div class="metabox_left">
                        <div class="metabox_cats">
                            <span>Published by:</span> <span itemprop="articleSection"><a href="#" rel="tag">{{ review.name }}</a></span>						
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                </div>
            {% empty %}
                <div class="one_news" itemtype="https://schema.org/NewsArticle">
                    <p>No reviews</p>
                </div>
            {% endfor %}
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
</div>
{% endblock %}