{% extends "base.html" %}
{% load static %}

{% block title %} Thank you for your payment {% endblock %}

{% block content %}
<div class="content_wrap">
    <div style="display: flex; justify-content: space-around; align-items: center;">
        <div></div>
        <div style="display: flex; flex-direction: column; align-items: center; align-content: center;" >
            <p style="font-size: 20px; margin-bottom: 10px;">Transaction successful</p>   
            <img src="{% static 'images/success.gif' %}" width="200" /> 
            <p style="font-size: 20px; margin-top: 10px;">You shall receive your fund soon</p>   
        </div>
        <div></div>
    </div>
    <div class="content"></div>
</div>
{% endblock %}